.btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
}

.btn:active {
  background-color: rgb(79, 192, 154);
}

.aquamarine {
  background-color: aquamarine;
}
@media screen and (max-width: 600px) {
  .btn {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
  }
  .aquamarine {
    background-color: aquamarine;
  }
}
@media (hover) {
  .btn:hover {
    background-color: rgb(79, 192, 154);
  }
}
